Django==5.0.11
django-cors-headers==4.7.0
psycopg2==2.9.9
djangorestframework==3.15.2
django-spaghetti-and-meatballs==0.4.2

#Swagger
drf-spectacular==0.27.2
inflection==0.5.1
jsonschema==4.24.0
jsonschema-specifications==2024.10.1
referencing==0.36.2
rpds-py==0.18.1
uritemplate==4.1.1

celery==5.5.1
django_celery_results==2.5.1
django-celery-beat==2.7.0

redis==5.2.1
azure-identity==1.21.0
mozilla-django-oidc==4.0.1
spiffworkflow==3.0.0
debugpy==1.8.14
azure-monitor-opentelemetry==1.6.11
model-bakery==1.18.2
djangorestframework-simplejwt==5.5.0
django-storages==1.14.6
azure-storage-blob==12.24.1
python-magic==0.4.27
watchdog==6.0.0
django-filter==25.1
